<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>Alterar senha</h2>

            <div class="alert alert-danger" ng-show="error">
                {{error}}
            </div>

            <div class="alert alert-danger" ng-show="doNotMatch">
                A <strong>nova senha</strong> e sua <strong>confirmação</strong> não conferem.
            </div>

            <form name="form" role="form" novalidate ng-submit="changePassword()" show-validation>

                <div class="form-group">
                    <label class="control-label" for="senhaAtual">Senha atual</label>
                    <input type="password" class="form-control" id="senhaAtual" name="senhaAtual" placeholder="Digite sua senha atual"
                           ng-model="alterarSenhaForm.senhaAtual" ng-minlength=5 ng-maxlength=50 required>
                    <div ng-show="form.senhaAtual.$dirty && form.senhaAtual.$invalid">
                        <p class="help-block"
                           ng-show="form.senhaAtual.$error.required">
                            Campo requerido
                        </p>
                        <p class="help-block"
                           ng-show="form.senhaAtual.$error.minlength">
                            Senha deve ter ao menos 5 caracteres
                        </p>
                        <p class="help-block"
                           ng-show="form.senhaAtual.$error.maxlength">
                            Senha deve ter no máximo 50 caracteres
                        </p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="novaSenha">Nova senha</label>
                    <input type="password" class="form-control" id="novaSenha" name="novaSenha" placeholder="Sua nova senha"
                           ng-model="alterarSenhaForm.novaSenha" ng-minlength=5 ng-maxlength=50 required>
                    <div ng-show="form.novaSenha.$dirty && form.novaSenha.$invalid">
                        <p class="help-block"
                           ng-show="form.novaSenha.$error.required">
                            Campo requerido
                        </p>
                        <p class="help-block"
                           ng-show="form.novaSenha.$error.minlength">
                            Senha deve ter ao menos 5 caracteres
                        </p>
                        <p class="help-block"
                           ng-show="form.novaSenha.$error.maxlength">
                            Senha deve ter no máximo 50 caracteres
                        </p>
                    </div>
                    <password-strength-bar password-to-check="alterarSenhaForm.novaSenha"></password-strength-bar>
                </div>

                <div class="form-group">
                    <label class="control-label" for="confirmPassword">Confirmação de senha</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Redigite sua nova senha"
                           ng-model="alterarSenhaForm.confirmSenha" ng-minlength=5 ng-maxlength=50 required>
                    <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.required">
                            Campo requerido
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.minlength">
                            Confirmação da senha deve ter ao menos 5 caracteres
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.maxlength">
                            Confirmação da senha deve ter no máximo 50 caracteres
                        </p>
                    </div>
                </div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Alterar senha</button>
            </form>
        </div>
    </div>
</div>
