<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>Alterar senha</h2>

            <div class="alert alert-success" ng-show="success">
                <strong>Senha alterada!</strong>
            </div>
            <div class="alert alert-danger" ng-show="error" >
                <strong>Ocorreu um erro!</strong> Tente novamente mais tarde
            </div>

            <div class="alert alert-danger" ng-show="doNotMatch">
                A senha e sua confirmação não conferem
            </div>

            <form name="form" role="form" novalidate ng-submit="changePassword()" show-validation>

                <div class="form-group">
                    <label class="control-label" for="password">Nova senha</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Sua nova senha"
                           ng-model="password" ng-minlength=5 ng-maxlength=50 required>
                    <div ng-show="form.password.$dirty && form.password.$invalid">
                        <p class="help-block"
                           ng-show="form.password.$error.required">
                            Campo requerido
                        </p>
                        <p class="help-block"
                           ng-show="form.password.$error.minlength">
                            Senha deve ter ao menos 5 caracteres
                        </p>
                        <p class="help-block"
                           ng-show="form.password.$error.maxlength">
                            Senha deve ter no máximo 50 caracteres
                        </p>
                    </div>
                    <password-strength-bar password-to-check="password"></password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="control-label" for="confirmPassword">Confirmação de senha</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Redigite sua nova senha"
                           ng-model="confirmPassword" ng-minlength=5 ng-maxlength=50 required>
                    <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.required">
                            Campo requerido
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.minlength">
                            Confirmação da senha deve ter ao menos 5 caracteres
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.maxlength">
                            Confirmação da senha deve ter no máximo 50 caracteres
                        </p>
                    </div>
                </div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>
