<div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1>Alterar senha</h1>

            <div class="alert alert-danger" ng-show="keyMissing">
                <strong>Chave de recuperação de senha inválida</strong>
            </div>

            <div class="alert alert-warning" ng-hide="success || keyMissing">
                <p>Escolha uma nova senha</p>
            </div>

            <div class="alert alert-danger" ng-show="error">
                <p>Sua senha não pôde ser alterada. Lembre-se que o link de recuperação de senha só é válido por 24 horas. Tente refazer o processo através da página <a href="#/reset/request">esqueceu sua senha</a>.</p>
            </div>

            <div class="alert alert-success" ng-show="success">
                <p><strong>Sua senha foi alterada.</strong> Por favor, <a class="alert-link" href="#/login">faça login</a>.</p>
            </div>

            <div class="alert alert-danger" ng-show="doNotMatch">
                A senha e sua confirmação não conferem
            </div>

            <div ng-hide="keyMissing">
                <form ng-show="!success" name="form" role="form" novalidate ng-submit="finishReset()" show-validation>
                    <div class="form-group">
                        <label class="control-label" for="novaSenha">Nova senha</label>
                        <input type="password" class="form-control" id="novaSenha" name="novaSenha" placeholder="Sua nova senha"
                               ng-model="resetAccount.novaSenha" ng-minlength=5 ng-maxlength=50 required>
                        <div ng-show="form.novaSenha.$dirty && form.novaSenha.$invalid">
                            <p class="help-block"
                               ng-show="form.novaSenha.$error.required">
                                Campo requerido
                            </p>
                            <p class="help-block"
                               ng-show="form.novaSenha.$error.minlength">
                                Senha deve ter no mínimo 5 caracteres
                            </p>
                            <p class="help-block"
                               ng-show="form.novaSenha.$error.maxlength">
                                Senha deve ter no máximo 50 caracteres
                            </p>
                        </div>
                        <password-strength-bar password-to-check="resetAccount.novaSenha"></password-strength-bar>
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="confirmPassword">Confirmação da senha</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Digite novamente sua nova senha"
                               ng-model="confirmPassword" ng-minlength=5 ng-maxlength=50 required>
                        <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                            <p class="help-block"
                               ng-show="form.confirmPassword.$error.required">
                                Campo requerido
                            </p>
                            <p class="help-block"
                               ng-show="form.confirmPassword.$error.minlength">
                                Confirmação de senha deve ter no mínimo 5 caracteres
                            </p>
                            <p class="help-block"
                               ng-show="form.confirmPassword.$error.maxlength">
                                Confirmação de senha deve ter no máximo 50 caracteres
                            </p>
                        </div>
                    </div>
                    <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Resetar senha</button>
                </form>
            </div>

        </div>
    </div>
</div>
