<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    
    <appender name="papertrail" class="com.papertrailapp.logback.Syslog4jAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%-5level %logger{35}: %m%n%xEx</pattern>
		</layout>

		<syslogConfig
			class="org.productivity.java.syslog4j.impl.net.tcp.ssl.SSLTCPNetSyslogConfig">
			<host>logs4.papertrailapp.com</host>
			<port>32475</port>
			<ident>SILQ</ident>
			<maxMessageLength>128000</maxMessageLength>
		</syslogConfig>
	</appender>

    <logger name="br.ufsc.silq" level="DEBUG"/>

	<logger name="org.hibernate.type" level="WARN" />
    <logger name="javax.activation" level="WARN"/>
    <logger name="javax.mail" level="WARN"/>
    <logger name="javax.xml.bind" level="WARN"/>
    <logger name="ch.qos.logback" level="WARN"/>
    <logger name="com.codahale.metrics" level="WARN"/>
    <logger name="com.ryantenney" level="WARN"/>
    <logger name="com.sun.xml.internal.bind" level="WARN"/>
    <logger name="com.zaxxer" level="WARN"/>
    <logger name="io.undertow" level="WARN"/>
    <logger name="net.sf.ehcache" level="WARN"/>
    <logger name="org.apache" level="WARN"/>
    <logger name="org.apache.catalina.startup.DigesterFactory" level="OFF"/>
    <logger name="org.bson" level="WARN"/>
    <logger name="org.hibernate.validator" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.hibernate.ejb.HibernatePersistence" level="OFF"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.springframework.web" level="WARN"/>
    <logger name="org.springframework.security" level="WARN"/>
    <logger name="org.springframework.cache" level="WARN"/>
    <logger name="org.thymeleaf" level="WARN"/>
    <logger name="org.xnio" level="WARN"/>
    <logger name="springfox" level="WARN"/>
    <logger name="sun.rmi" level="WARN"/>
    <logger name="liquibase" level="WARN"/>
    <logger name="sun.rmi.transport" level="WARN"/>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

	<springProfile name="!prod">
		<root level="INFO">
        	<appender-ref ref="CONSOLE"/>
    	</root>	
	</springProfile>
	
	<springProfile name="prod">
		<root level="INFO">
        	<appender-ref ref="CONSOLE"/>
        	<appender-ref ref="papertrail"/>
    	</root>	
	</springProfile>
    

</configuration>
