<div class="row" ng-show="!results">
    <div class="col-md-6 col-md-offset-3">
        <h3>Avaliar meu currículo</h3>
        <br />
        <avaliar-form model="avaliarForm" submit="submit()"></avaliar-form>
    </div>
</div>

<div ng-show="results">
    <h3 class="text-center">Resultados da avaliação</h3>

    <table class="table table-striped table-hover table-resumo">
        <tbody>
            <tr>
                <td>Nome</td>
                <td>{{results.nome}}</td>
            </tr>
            <tr>
                <td>Área do conhecimento</td>
                <td>{{results.areaGrandeAreaConhecimento.nomeArea}}</td>
            </tr>
            <tr>
                <td>Sub área do conhecimento</td>
                <td>{{results.nomeSubAreaConhecimento}}</td>
            </tr>
            <tr>
                <td>Grande área do conhecimento</td>
                <td>{{results.areaGrandeAreaConhecimento.nomeGrandeArea}}</td>
            </tr>
            <tr>
                <td>Especialidade</td>
                <td>{{results.nomeEspecialidade}}</td>
            </tr>
            <tr>
                <td>Totalizador (para nível de confiança {{results.nivelSimilaridade}})</td>
                <td>{{results.totalizador}}</td>
            </tr>
            <tr>
                <td>Área utilizada na avaliação</td>
                <td><strong>{{results.areaAvaliada}}</strong></td>
            </tr>
        </tbody>
    </table>

    <div class="input-group">
        <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
        <input ng-model="filter" type="search" class="form-control" placeholder="Filtrar resultados..." />
    </div>

    <h3 class="text-center">Artigos</h3>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Título do artigo</th>
                <th>Ano de publicação</th>
                <th>Título Periódico ou Revista</th>
                <th>ISSN</th>
                <th>Conceito</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="artigo in results.artigos | filter: filter">
                <td>{{ artigo.nomeArtigo }}</td>
                <td>{{ artigo.ano }}</td>
                <td>{{ artigo.tituloPeriodico }}</td>
                <td class="nowrap">{{ artigo.issn }}</td>
                <td class="nowrap text-center" ng-switch="!!artigo.conceitos[0]">
                    <span ng-switch-when="true" title="">
                        {{ artigo.conceitos[0].conceito }}
                        ({{ artigo.conceitos[0].similaridade * 100 | number: 0 }}%)
                        <span ng-switch="artigo.conceitos[0].similaridade == '1.0'">
                            <i ng-switch-when="true" class="text-success glyphicon glyphicon-ok"></i>
                            <i ng-switch-when="false" class="text-warning glyphicon glyphicon-ok"></i>
                        </span>
                    </span>
                    <span title="Nenhum resultado" ng-switch-when="false">
                        <i class="text-danger glyphicon glyphicon-remove"></i>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>

    <h3 class="text-center">Trabalhos</h3>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Título do trabalho</th>
                <th>Ano de publicação</th>
                <th>Título do Evento</th>
                <th>Conceito</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="trabalho in results.trabalhos | filter: filter">
                <td>{{ trabalho.tituloTrabalho }}</td>
                <td>{{ trabalho.anoPublicacao }}</td>
                <td>{{ trabalho.nomeEvento }}</td>
                <td class="nowrap text-center" ng-switch="!!trabalho.conceitos[0]">
                    <span ng-switch-when="true">
                        {{ trabalho.conceitos[0].conceito }}
                        ({{ trabalho.conceitos[0].similaridade * 100 | number: 0 }}%)
                        <span ng-switch="trabalho.conceitos[0].similaridade == '1.0'">
                            <i ng-switch-when="true" class="text-success glyphicon glyphicon-ok"></i>
                            <i ng-switch-when="false" class="text-warning glyphicon glyphicon-ok"></i>
                        </span>
                    </span>
                    <span title="Nenhum resultado" ng-switch-when="false">
                        <i class="text-danger glyphicon glyphicon-remove"></i>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
