@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700);

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    font-size: 12px;
}

a {
    cursor: pointer;
}

.main-content {
    min-height: 50vh;
}

.footer {
    border-top: 1px solid #eee;
    padding-top: 12px;
    margin-top: 40px;
}

.footer ul {
    list-style: none;
}

.footer li {
    display: inline;
    margin: 0 3px;
}

.drop-box {
    background: #F8F8F8;
    border: 2px dashed #DDD;
    border-radius: 4px;
    padding: 30px;
    font-size: 14px;
    margin: 10px 0;
    cursor: pointer;
    color: #888;
}

.drop-box:hover {
    border-color: #ccc;
    color: #444;
}

.drop-box-active {
    border-color: blue;
}

.drop-box p {
    text-align: center;
    margin: 0;
}

.drop-box ul {
    margin: 0;
    padding: 20px 0 0 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.drop-box li {
    background-color: #fff;
    margin: 5px;
    padding: 0;
    flex: 1 1 140px;
    max-width: 200px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    text-align: center;
    padding: 5px;
    color: #444;
    box-shadow: 1px 1px 5px -1px #ccc;
    position: relative;;
}

.drop-box .file-name {
    display: block;
    word-wrap: break-word;
}

.drop-box .file-size {
    font-weight: 600;
    font-size: 0.9em;
}

.drop-box .progress {
    margin: 0;
    height: 14px;
}

.drop-box .progress-bar {
    font-size: 11px;
    line-height: 14px;
}

.drop-box .file-success {
    position: absolute;
    right: -2px;
    top: -5px;
    font-size: 1.4em;
    color: #3c963d;
}

.table-resumo td:first-child {
    width: 50%;
    text-align: right;
    font-weight: 600;
}

.alert.alert-dismissible {
    position: fixed;
    z-index: 10000;
    width: 500px;
    left: calc(50% - 250px);
    top: 40px;
    line-height: 1.7;
}

.control-label {
    font-weight: 600;
}

.nowrap {
    white-space: nowrap;
}

.btn-spaced {
    padding-left: 100px;
    padding-right: 100px;
}

.title-border {
    border-bottom: 1px solid #eee;
    padding-bottom: 0.35em;
}

h1 .glyphicon,
h2 .glyphicon,
h3 .glyphicon,
h4 .glyphicon {
    font-size: 0.75em;
    color: #23527c;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.ng-enter {
    animation: fadeIn 0.2s both ease-in;
    z-index: 8888;
}

/* ==========================================================================
Hide ng-cloak on page load, https://docs.angularjs.org/api/ng/directive/ngCloak
========================================================================== */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/* ==========================================================================
Developement Ribbon
========================================================================== */
.development {
    position: absolute;
    width: 149px;
    height: 149px;
    top: 0;
    left: 0;
    border: 0;
    z-index: 1000;
    background-image: url("../images/development_ribbon.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.badge-nav {
    font-size: 10px;
    padding: 2px 6px;
    display: initial;
}

/* ==========================================================================
Version number in navbar
========================================================================== */
.navbar-version {
    font-size: 10px;
    color: #ccc
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.error {
    color: white;
    background-color: red;
}

.pad {
    padding: 10px;
}

#threadDump .popover, #healthCheck .popover {
    top: inherit;
    display: block;
    font-size: 10px;
    max-width: 1024px;
}

#healthCheck .popover {
    margin-left: -50px;
}

.health-details {
    min-width: 400px;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */

.alerts .alert{
    text-overflow: ellipsis;
}
.alert pre{
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}

.alert .popover pre {
    font-size: 10px;
}

.alerts .toast {
    position: fixed;
    width: 100%;
}

.alerts .toast.left {
    left: 5px;
}

.alerts .toast.right {
    right: 5px;
}

.alerts .toast.top {
    top: 55px;
}

.alerts .toast.bottom {
    bottom: 55px;
}

@media screen and (min-width: 480px) {
    .alerts .toast {
        width: 50%;
    }
}

/* end of Custom alerts for notification */

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

/* start Password strength bar style */
ul#strengthBar {
    display:inline;
    list-style:none;
    margin:0;
    margin-left:15px;
    padding:0;
    vertical-align:2px;
}

.point:last {
    margin:0 !important;
}
.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
}
/* end Password strength bar style */

.readonly {
    background-color: #eee;
    opacity: 1;
}

/* jhipster-needle-css-add-main JHipster will add new css style */
