<table class="table table-bordered table-hover table-condensed">
    <thead>
    <tr>
        <th scope="col"></th>
        <th ng-repeat="year in years" colspan="6">
            {{ year }}
        </th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    <tr>
        <th scope="col"></th>
        <th ng-repeat-start="year in years" colspan="2">A1</th>
        <th colspan="2">A2</th>
        <th ng-repeat-end colspan="2">B1</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    <tr>
        <th scope="col">
            <a ng-click="orderByField='nome'; reverseSort = !reverseSort">
                Avaliado
                <span ng-show="orderByField == 'nome'">
                    <span ng-show="!reverseSort" class="glyphicon glyphicon-sort-by-alphabet"></span>
                    <span ng-show="reverseSort" class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                </span>
            </a>
        </th>
        <th ng-repeat-start="year in years" scope="col">A</th>
        <th scope="col">T</th>
        <th scope="col">A</th>
        <th scope="col">T</th>
        <th scope="col">A</th>
        <th ng-repeat-end scope="col">T</th>
        <th scope="col">
            <a ng-click="orderByField='pontuacao'; reverseSort = !reverseSort">
                Pontuação
                <span ng-show="orderByField == 'pontuacao'">
                    <span ng-show="!reverseSort" class="glyphicon glyphicon-sort-by-order"></span>
                    <span ng-show="reverseSort" class="glyphicon glyphicon-sort-by-order-alt"></span>
                </span>
            </a>
        </th>
        <th scope="col">
            <a ng-click="orderByField='classificacao'; reverseSort = !reverseSort">
                Classificação
                <span ng-show="orderByField == 'classificacao'">
                    <span ng-show="!reverseSort" class="glyphicon glyphicon-sort-by-alphabet"></span>
                    <span ng-show="reverseSort" class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
                </span>
            </a>
        </th>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in classificacoes | orderBy:orderByField:reverseSort">
            <td>{{ item.nome }}</td>
            <td ng-repeat-start="year in years" scope="col">{{ (item.avaliacao | filter:{ano: year})[0].artigos.a1 }}</td>
            <td scope="col">{{ (item.avaliacao | filter:{ano: year})[0].trabalhos.a1 }}</td>
            <td scope="col">{{ (item.avaliacao | filter:{ano: year})[0].artigos.a2 }}</td>
            <td scope="col">{{ (item.avaliacao | filter:{ano: year})[0].trabalhos.a2 }}</td>
            <td scope="col">{{ (item.avaliacao | filter:{ano: year})[0].artigos.b1 }}</td>
            <td ng-repeat-end scope="col">{{ (item.avaliacao | filter:{ano: year})[0].trabalhos.b1 }}</td>
            <th scope="col">{{ item.pontuacao }}</th>
            <th scope="col"> {{ item.classificacao }}</th>
        </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="{{years.length*6+1}}"></td>
        <td colspan="2">{{totalizador(classificacoes)}}</td>
    </tr>
    </tfoot>
</table>
