<form class="flex" ng-submit="submit()">
    <select class="form-control flex-1"
        ng-model="tipo" ng-change="submit()" ng-hide="mode">
        <option value="periodicos">Periódicos</option>
        <option value="eventos">Eventos</option>
    </select>
    <div class="flex-5">
        <input type="search" class="form-control" placeholder="Pesquisar por título do periódico ou evento, ISSN, área de avaliação..." ng-model="query">
    </div>
    <button type="submit" class="btn btn-primary">Pesquisar</button>
</form>

<br>

<p>Mostrando <strong>{{results.totalElements}}</strong> resultados encontrados.</p>

<table class="table table-striped table-condensed table-hover">
    <thead>
        <tr>
            <th ng-show="tipo == 'periodicos'">ISSN</th>
            <th ng-show="tipo == 'eventos'">Sigla</th>
            <th>Título</th>
            <th>Similaridade</th>
            <th>Conceito</th>
            <th>Ano</th>
            <th>Área de avaliação</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-show="results.content.length == 0">
            <td colspan="6" class="text-center">Nenhum resultado encontrado</td>
        </tr>
        <tr ng-repeat="result in results.content" ng-click="onItemClick(result)">
            <td ng-show="tipo == 'periodicos'" class="nowrap">{{result.resultado.issn}}</td>
            <td ng-show="tipo == 'eventos'">{{result.resultado.sigla}}</td>
            <td>{{result.resultado.titulo}}</td>
            <td ng-class="(result.similaridade.value | similarityClass)">{{result.similaridade.value * 100 | number: 1}}%</td>
            <td>{{result.resultado.estrato}}</td>
            <td>{{result.resultado.ano}}</td>
            <td>{{result.resultado.areaAvaliacao}}</td>
        </tr>
    </tbody>
</table>

<nav class="text-center" aria-label="Page navigation">
    <ul uib-pagination total-items="results.totalElements" ng-model="page" ng-change="pageChanged()" items-per-page="results.size"></ul>
</nav>

<!-- <pre>
    <code>{{results | json}}</code>
</pre> -->
