<form name="form" role="form" ng-submit="submit()" show-validation>

    <div class="form-group">
        <label class="control-label" for="area">Área de Atuação *</label>
        <select class="form-control" id="area" name="area" ng-model="model.area" required
             ng-include="'scripts/components/areas/options.html'">
        </select>
        <div ng-show="form.area.$dirty && form.area.$invalid" ng-messages="form.area.$error">
            <p class="help-block" ng-message="required">Campo requerido</p>
        </div>

        <p class="help-block">
            As avaliações serão de acordo com a área selecionada.
        </p>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label" for="anoPublicacaoDe">Publicações de</label>
                <select class="form-control" id="anoPublicacaoDe" name="anoPublicacaoDe" ng-model="model.anoPublicacaoDe">
                    <option value="">(Todas)</option>
                    <option ng-repeat="year in years" value="{{ year }}">{{ year }}</option>
                </select>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label" for="anoPublicacaoAte">Até</label>
                <select class="form-control" id="anoPublicacaoAte" name="anoPublicacaoAte" ng-model="model.anoPublicacaoAte" ng-disabled="!model.anoPublicacaoDe">
                    <option value=""></option>
                    <option ng-repeat="year in years | filter: yearFilter" value="{{ year }}">{{ year }}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label" for="nivelSimilaridade">Nível de confiança</label>
        <select class="form-control" id="nivelSimilaridade" name="nivelSimilaridade" ng-model="model.nivelSimilaridade" required>
            <option value="0.9">Muito alto (90%)</option>
            <option value="0.8">Alto (80%)</option>
            <option value="0.6">Normal (60%)</option>
            <option value="0.4">Baixo (40%)</option>
            <option value="0.2">Muito Baixo (20%)</option>
        </select>
        <p class="help-block">Estabelece um limite mínimo da qualidade da avaliação.</p>
    </div>

    <button type="submit" class="btn btn-primary btn-block">Avaliar</button>
</form>
