.avaliacao-results > div:nth-child(even) {
    background-color: #f9f9f9;
}

.avaliacao-result-item {
    display: flex;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid #eee;

    p { margin: 0; }

    .result-conceito-box {
        flex: 1 0 40px;
        max-width: 40px;
        text-align: center;
        font-weight: 600;
        margin: 0 10px;
        font-size: 20px;

        .result-conceito {
            letter-spacing: 1px;
            background-color: #222;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            font-weight: normal;
            color: #fff;
        }

        .result-porcentagem {
            font-size: 0.5em;
            padding: 2px 0;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            color: #fff;
        }
    }

    .result-content-box {
        flex: 1 1 auto;

        .result-titulo {
            font-size: 1.05em;
            font-weight: 600;
            color: $brand-primary;
        }

        .result-ano {
        }

        .result-veiculo {
            font-weight: 600;
        }

        .result-issn {
            font-weight: 600;
        }

        .result-conceito-item {
            line-height: 1.9;
            margin-top: 2px;
        }
    }
}

.label-conceito {
    font-size: 0.85em;
    color: #fff;
    font-weight: 600;
    border-radius: 3px;
    display: inline-block;
    white-space: nowrap;

    & > span {
        padding: 0px 6px;
        border-width: 1px;
        border-style: solid;
        display: inline-block;

        &:first-child {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }

        &:last-child {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }
    }

    .conceito {
        background-color: darken($brand-primary, 20%);
        border-color: darken($brand-primary, 20%);
    }

    .similaridade {
    }

    .titulo {
        background-color: #fff;
        color: $text-color;
        font-weight: normal;
        border-color: #ccc;
        max-width: 100%;
    }
}

dt {
    font-weight: 600;
}

dd {
    margin-bottom: 10px;
}
