.qualis-results > div:nth-child(even) {
    background-color: #f9f9f9;
}

.qualis-result-item {
    padding: 12px 15px;
    border-bottom: 1px solid #eee;

    p { margin: 0; }

    .ver-mais {
        font-size: 0.9em;
        margin-left: 10px;
    }
}

.qualis-titulo {
    font-size: 1.05em;
    font-weight: 600;
    color: $brand-primary;
}

.qualis-ano {
}

.qualis-veiculo {
    font-weight: 600;
}

.qualis-area {
    font-weight: 600;
}

.qualis-issn {
    font-weight: 600;
}

.qualis-conceito-item {
    line-height: 1.9;
    margin-top: 2px;
    & > div {
        display: inline;
    }
    .btn {
        font-size: 0.9em;
    }
}

.label-conceito {
    font-size: 0.85em;
    border-radius: 3px;
    display: inline-block;
    white-space: nowrap;
    background: #fff;

    & > span {
        padding: 0px 6px;
        border-width: 1px;
        border-style: solid;
        display: inline-block;

        &:first-child {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }

        &:last-child {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }
    }

    .conceito {
        background-color: darken($brand-primary, 20%);
        border-color: darken($brand-primary, 20%);
    }

    .conceito, .similaridade {
        color: #fff;
        font-weight: 600;
    }

    .titulo, .ano {
        border-color: #ccc;
        max-width: 100%;
    }

    .ano {
        border-left-width: 0;
        border-right-width: 0;
        font-weight: 600;
    }
}
