<div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1>Login</h1>

            <div class="alert alert-danger" ng-show="authenticationError">
                Usuário ou senha incorretos
            </div>
        </div>
        <div class="col-md-4 col-md-offset-4">
            <form class="form" role="form" ng-submit="login($event)">
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" class="form-control" id="email" placeholder="Seu endereço de e-mail" ng-model="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Senha</label>
                    <input type="password" class="form-control" id="password" placeholder="Sua senha"
                           ng-model="password" required>
                </div>
                <p class="pull-right">
                    <a class="alert-link" href="#/reset/request">Esqueceu sua senha?</a>
                </p>
                <button type="submit" class="btn btn-primary">Entrar</button>
            </form>
            <br />
            <div class="alert alert-warning">
                Ainda não tem uma conta? <a class="alert-link" href="#/register">Registre-se gratuitamente</a>
            </div>
        </div>
    </div>
</div>
